@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
  min-width: 1200px;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  display: block;
  position: relative;
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 3.6px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-image: linear-gradient(#ffffff 16px, #f0c52e 16px, #f0c52e 24px, #ffffff 24px);
  min-height: 40px;
  padding-top: 8px;
}

.button:hover {
  background-image: linear-gradient(#f0c52e 0px, #f0c52e 40px);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(#f0c52e 0px, #f0c52e 40px);
}

/* Стили хедера */
header {
  background-image: linear-gradient(#ffffff 40px, #f8e297 40px);
}

/* Стили  верхней части хедера */
.header-top {
  display: flex;
  flex-wrap: wrap;

  font-family: OpenSans, Arial, sans-serif;
  color: #000000;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;

  margin-bottom: 38px;
}

.main-logo {
  display: block;
  width: 163px;
  height: 56px;
  padding-top: 21px;
  margin-left: 59px;
  margin-bottom: 27px;
}

.main-logo[href="index.html"] {
  cursor: pointer;
}

.main-logo[href="index.html"]:hover path,
.main-logo[href="index.html"]:focus path {
  fill: rgba(0, 0, 0, 0.6);
}

.main-logo[href="index.html"]:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.form-search {
  position: relative;
  margin-left: 59px;
  margin-right: 99px;
}

.form-search input {
  padding: 0;
  padding-left: 38px;
  width: 440px;
  padding-right: 100px;
  border: none;
  background-color: #f8e297;
  outline: none;
}

.form-search::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  top: 7px;
  left: 2px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.form-search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-search input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-search input:active~.form-search-button,
.form-search input:focus~.form-search-button {
  display: block;
}

.form-search-button {
  display: none;
  position: absolute;
  top: -10px;
  right: 0;
  width: 85px;
  min-height: 49px;
  border: 2px solid #000000;
  background-color: #f8e297;
}

.form-search-button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: 83px;
  width: 355px;
  height: 2px;
  background-color: #000000;
}

.form-search-button:hover,
.form-search-button:focus {
  display: block;
  background-color: #000000;
  color: #ffffff;
}

.form-search-button:active {
  display: block;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.header-menu-user {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.header-user a {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  position: relative;
}

.header-user a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-user a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-user a:hover::before {
  opacity: 0.6;
}

.header-user a:active::before {
  opacity: 0.3;
}

.header-user-login a {
  margin-right: 218px;
  padding-left: 26px;
}

.header-user-login a::before {
  content: "";
  position: absolute;
  height: 13px;
  width: 12px;
  top: 3px;
  left: 2px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.header-user-compare a {
  margin-right: 41px;
  padding-left: 20px;
}

.header-user-compare a::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  top: 6px;
  left: 1px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.header-user-basket a {
  padding-left: 24px;
}

.header-user-basket a::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  top: 4px;
  left: 1px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

/* Стили нижней части хедера */
.header-bottom {
  padding-bottom: 54px;
}

.menu-main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  list-style: none;

  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 3.6px;

  margin-left: 59px;
}

.main-item-link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.main-item-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-catalog {
  position: relative;
}

.main-catalog .main-item-link {
  position: relative;
  padding-right: 32px;
}

.main-catalog .main-item-link::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 16px;
  top: 10px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 300ms;
}

.main-catalog .main-item-link::after {
  content: "";
  position: absolute;
  height: 16px;
  width: 2px;
  top: 3px;
  right: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 300ms;
}

.main-catalog .main-item-link:hover::before,
.main-catalog .main-item-link:hover::after {
  transform: rotate(90deg);
}

/* выпадающее меню */
.main-catalog:hover .catalog-submenu {
  display: flex;
  flex-wrap: wrap;
}

.catalog-submenu {
  display: none;
  position: absolute;
  top: 20px;
  left: -59px;

  background-color: #f8e297;
  padding-top: 26px;
  padding-bottom: 33px;

  z-index: 5;
}

.catalog-submenu a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
}

.catalog-submenu a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-submenu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.submenu-column {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 59px;
}

.column-item-active {
  cursor: default;
}

.main-shipping {
  margin-left: auto;
  margin-right: 34px;
}

.main-warranty {
  margin-right: 108px;
}

.main-contacts {
  margin-right: 58px;
}

/* Стили мейна */
/* Стили слайдера */
.main-slide-container {
  position: relative;
}

.main-slider-controls {
  position: absolute;
  top: 326px;
  right: 63px;
  z-index: 10;
}

.main-slider-controls-item {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 19px;
  vertical-align: top;
  background-color: #ffffff;
  border: #000000 1px solid;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0;
}

#product-1:checked~.main-slider-controls label[for="product-1"],
#product-2:checked~.main-slider-controls label[for="product-2"],
#product-3:checked~.main-slider-controls label[for="product-3"] {
  background-color: #ffffff;
  box-shadow: inset 0px 0px 0px 2px #ffffff,
    inset 0px 0px 0px 3px #000000;
}

#product-1:focus~.main-slider-controls label[for="product-1"],
#product-2:focus~.main-slider-controls label[for="product-2"],
#product-3:focus~.main-slider-controls label[for="product-3"] {
  outline: none;
  box-shadow: inset 0px 0px 0px 2px #ffffff,
    inset 0px 0px 0px 3px #000000,
    0px 0px 0px 2px rgba(46, 136, 228, 0.52);
}

.main-slide {
  display: none;
}

#product-1:checked~#main-slide-1,
#product-2:checked~#main-slide-2,
#product-3:checked~#main-slide-3 {
  display: flex;
  flex-wrap: wrap;
}

.main-slide {
  position: relative;
  padding-left: 36px;
  padding-bottom: 92px;
  background-image: linear-gradient(#f8e297 110px, #ffffff 110px);
}

.main-slide::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 7px;
  background: #ffffff;
  top: 36px;
  right: 460px;
}

.main-slide::after {
  position: absolute;
  color: #ffffff;
  top: -15px;
  right: 47px;

  font-family: Gilroy, Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.8px;
}

.main-slide-1::after {
  content: "01";
}

.main-slide-2::after {
  content: "02";
}

.main-slide-3::after {
  content: "03";
}

.main-slide p {
  margin: 0px;
}

.main-slide-image-container {
  min-width: 562px;
  min-height: 500px;
}

.main-slide-1 img {
  margin-left: 52px;
}

.main-slide-2 img {
  margin-left: 80px;
  margin-top: 10px;
}

.main-slide-3 img {
  margin-left: -6px;
  margin-top: 63px;
}

.main-slide-description {
  position: relative;
  padding-top: 78px;
  width: 510px;
  z-index: 1;
}

.main-slide-slogan {
  display: block;
  font-family: Gilroy, Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
  width: 400px;
  padding-bottom: 20px;
}

.main-slide-3 .main-slide-slogan {
  width: 510px;
}

.main-slide-describe {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  color: #464646;
  padding-bottom: 42px;
  width: 460px;
}

.main-slide-1 .main-slide-describe {
  width: 490px;
}

.main-slide-button {
  width: 222px;
  margin-bottom: 50px;
}

.main-slide-characteristic-block {
  display: flex;
  flex-wrap: wrap;
}

.charcteristic-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-right: 78px;
}

.charcteristic-block:nth-child(3n) {
  padding-right: 0px;
}

.main-slide-3 .charcteristic-block {
  padding-right: 50px;
}

.charcteristic-block span {
  display: block;
}

.characteristic-block-title {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  color: #464646;

  order: 2;
}

.characteristic-block-value {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  padding-bottom: 8px;
}

/* Стили популярных товаров */

.popular-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0px;
  padding-bottom: 81px;
  list-style: none;
}

.popular-item-content {
  text-decoration: none;
  color: #000000;
}

.popular-list p {
  margin: 0;
  width: 160px;

  font-family: Gilroy;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
}

.popular-item:nth-child(2) p {
  width: 110px;
}

.popular-item {
  padding-right: 40px;
}

.popular-item:nth-child(6n) {
  padding-right: 0px;
}

.popular-item-image-container {
  width: 160px;
  height: 160px;
  background-color: #f8e297;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.popular-item-image-container img {
  margin-left: auto;
  margin-right: auto;
}

.popular-item:nth-child(2) img {
  align-self: flex-end;
}

.popular-item:hover .popular-item-image-container,
.popular-item-content:focus .popular-item-image-container {
  background-color: #f0c52e;
}

.popular-item:active img,
.popular-item:active p {
  opacity: 0.3;
}

/* Стили фьючеров */
.features-container {
  background-image: linear-gradient(#ffffff 100px, #e5e5e5 100px);
  margin-bottom: 91px;
}

.features {
  display: flex;
  min-height: 390px;
}

.features-slider-controls {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 284px;
  padding-top: 80px;
}

.features-slider-controls::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 319px;
  top: 0px;
  right: 0px;
  background-color: #000000;
}

.features-slider-controls-item {
  position: relative;
  margin-bottom: 24px;
  background-image: linear-gradient(transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
  width: 160px;
  text-align: center;
}

.feature-slide {
  position: relative;
  display: none;
}

.feature-slide::before {
  position: absolute;
  content: "";
}

.feature-slide-1::before {
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: top center;
  width: 136px;
  height: 164px;
  top: 85px;
  right: -256px;
}

.feature-slide-2::before {
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: top center;
  width: 171px;
  height: 194px;
  top: 61px;
  right: -276px;
}

.feature-slide-3::before {
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: top center;
  width: 156px;
  height: 186px;
  top: 61px;
  right: -256px;
}

#feature-1:checked~#feature-slide-1,
#feature-2:checked~#feature-slide-2,
#feature-3:checked~#feature-slide-3 {
  display: block;
}

#feature-1:checked~.features-slider-controls label[for="feature-1"],
#feature-2:checked~.features-slider-controls label[for="feature-2"],
#feature-3:checked~.features-slider-controls label[for="feature-3"] {
  color: #f7e184;
  background-image: linear-gradient(#000000 0px, #000000 40px);
}

#feature-1:checked~.features-slider-controls label[for="feature-1"]::before,
#feature-2:checked~.features-slider-controls label[for="feature-2"]::before,
#feature-3:checked~.features-slider-controls label[for="feature-3"]::before {
  position: absolute;
  content: "";
  background-color: #000000;
  height: 40px;
  width: 124px;
  top: 0;
  left: 160px;
}

.feature-slide {
  padding-left: 117px;
}

.feature-slide-header {
  margin-top: 73px;
  margin-bottom: 32px;
  font-family: Gilroy, Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
}

.feature-slide-content {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  width: 437px;
  margin: 0px;
}

/* Стили поставщиков */
.contractors {
  margin-bottom: 90px;
}

.contractors-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.contractors-item {
  padding-right: 40px;
}

.contractors-item:nth-child(4n) {
  padding-right: 0;
}

.contractors-item-link {
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
}

.contractors-item-image {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity 0.5s linear;
}

.contractors-item-image:hover {
  opacity: 1;
}

.contractors-item-image:hover image {
  filter: none;
}

/* Стили секции о нас */
.about-us-contacts-container {
  margin-bottom: 82px;
}

.about-us::before,
.contacts::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  top: 0px;
  left: 0px;
  background-color: #000000;
}

.about-us-contacts-container h2 {
  margin-top: 51px;
  margin-bottom: 45px;
  font-family: Gilroy, Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
}

.about-us-contacts-container p {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;

  margin-top: 0px;
  margin-bottom: 30px;
}

.about-us {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 474px;
  margin-right: 119px;
}

.about-us-list {
  list-style: none;
  padding-top: 34px;
  padding-left: 35px;
  margin-bottom: 54px;

  font-family: Gilroy, Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}

.about-us-list li {
  position: relative;
}

.about-us-list li::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  top: 16px;
  left: -35px;
}

.about-us-button {
  width: 260px;
}

/* Стили секции Контакты */
.contacts {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 560px;
}

.contacts p {
  margin-bottom: 37px;
}

.contacts-map {
  display: block;
  margin-bottom: 66px;
}

.contacts-button {
  width: 265px;
}

/* Стили футера */
footer {
  background-color: #464646;
  color: #ffffff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

/* стили левой колонки */
.footer-left-side {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-top: 65px;
  padding-bottom: 165px;
  padding-right: 159px;
}

.footer-left-side::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background: #ffc600;
  bottom: 82px;
  left: 0px;
}

.footer-logo {
  display: block;
  cursor: pointer;
  margin-bottom: 26px;
}

.footer-logo path {
  fill: #ffc600;
}

.footer-logo:hover path,
.footer-logo:focus path {
  fill: rgba(255, 198, 0, 0.6);
}

.footer-logo:active path {
  fill: rgba(255, 198, 0, 0.3);
}

.footer-address {
  margin: 0;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

/* стили средней колонки */
.footer-middle-side {
  display: inline-block;
  vertical-align: top;
  padding-right: 35px;
}

.footer-feature-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 121px;
  padding-bottom: 48px;
}

.footer-feature-item a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;

  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 3.6px;

  margin-right: 33px;
}

.footer-feature-item:nth-child(3n) a {
  margin-right: 0px;
}

.footer-feature-item:hover a,
.footer-feature-item:focus a {
  color: rgba(255, 255, 255, 0.6);
}

.footer-feature-item:active a {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  padding-left: 140px;
}

.footer-social-item {
  padding-right: 23px;
}

.footer-social-item-link:hover path,
.footer-social-item-link:hover rect,
.footer-social-item-link:focus path,
.footer-social-item-link:focus rect {
  fill: rgba(255, 255, 255, 0.6);
}

.footer-social-item-link:active path,
.footer-social-item-link:active rect {
  fill: rgba(255, 255, 255, 0.1);
}

/* стили правой колонки */
.footer-right-side {
  display: inline-block;
  vertical-align: top;
}

.footer-menu-user {
  display: flex;
  flex-wrap: wrap;
  padding-top: 48px;
  padding-left: 0px;
  padding-bottom: 21px;
  list-style: none;
}

.footer-user a {
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;

  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

.footer-user a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-user a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user a:hover::before {
  opacity: 0.6;
}

.footer-user a:active::before {
  opacity: 0.3;
}

.footer-user-login a {  
  padding-left: 27px;
  margin-right: 44px;
}

.footer-user-login a::before {
  content: "";
  position: absolute;
  height: 13px;
  width: 12px;
  top: 2px;
  left: 2px;
  background-image: url("../img/user-marygold.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.footer-user-compare a {  
  padding-left: 20px;
  margin-right: 42px;
}

.footer-user-compare a::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  top: 3px;
  left: 1px;
  background-image: url("../img/compare-marygold.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.footer-user-basket a {
  padding-left: 24px;
  margin-right: 0px;
}

.footer-user-basket a::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  top: 3px;
  left: 1px;
  background-image: url("../img/cart-marygold.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.footer-phone {
  text-align: right;
  padding-bottom: 45px;
}

.footer-phone a {
  color: #ffffff;
  text-decoration: none;

  font-family: OpenSans, Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.html-academy-logo-container {
  text-align: right;
}

.html-academy-logo path {
  fill: rgba(255, 198, 0, 1);
}

.html-academy-logo:hover path,
.html-academy-logo:focus path {
  fill: rgba(255, 198, 0, 0.6);
}

.html-academy-logo:active path {
  fill: rgba(255, 198, 0, 0.3);
}

/* модальные окна */
.modal-feedback-form {
  display: none;
}

.modal-map {
  display: none;
}

/* Стили CATALOG.HTML */
.page-shop-main {
  background-color: #ebebeb;
}

/* Стили фильтров */
.page-shop-filter {
  display: inline-block;
  vertical-align: top;

  /* временно */
  width: 250px;
  /* временно */
}

.sort-products-wrapper {
  display: inline-block;
  vertical-align: top;
  background-color: #ffffff;
}

.page-shop-sort {
  display: flex;
  flex-wrap: wrap;
  background-color: #ebebeb;
}

.list-sort {
  display: flex;
  flex-wrap: wrap;
}

.list-sort-order {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  /* временно */
  width: 360px;
  /* временно */
}

.list-products {
  display: flex;
  flex-wrap: wrap;

  /* временно */
  width: 900px;
  /* временно */
}

.product-paginator-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #ebebeb;
}
