/* font-family: "Open Sans", Arial, sans-serif; */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
  min-width: 1200px;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Стили хедера */
header {
  background-color: #f8e297;
}

/* Стили  верхней части хедера */
.header-top {
  display: flex;
  flex-wrap: wrap;
}

.header-menu-user {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

/* Стили нижней части хедера */
.menu-main {
  display: flex;
  flex-wrap: wrap;
}

.main-catalog {
  position: relative;
}

/* стили сабменю Каталога */
.catalog-submenu {
  position: absolute;
  left: 0px;
  display: none;
  background-color: #f8e297;
}

.main-catalog:hover .catalog-submenu {
  display: flex;
  flex-wrap: wrap;
}

/* Стили мейна */
/* Стили слайдера */
.main-slide {
  display: flex;
  flex-wrap: wrap;
}

.main-slide-2,
.main-slide-3 {
  display: none;
}

.main-slide-description {
  width: 480px;
}

.main-slide-button {
  display: block;
}

.main-slide-characteristic-block {
  display: flex;
  flex-wrap: wrap;
}

.charcteristic-block {
  /* временно */
  width: 80px;
  display: flex;
  flex-wrap: wrap;
}

/* Стили популярных товаров */
.popular-list {
  display: flex;
  flex-wrap: wrap;
}

/* Стили фьючеров */
.features-container {
  background-color: #e5e5e5;
}

.features {
  display: flex;
}

.features-slider-controls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.feature-slide-2,
.feature-slide-3 {
  display: none;
}

/* Стили поставщиков */
.contractors-list {
  display: flex;
  flex-wrap: wrap;
}

.contractors-item-link {
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
}

.contractors-item-image {
  transition: filter 0.5s linear;
  filter: grayscale(1) opacity(0.2);
}


.contractors-item-image:hover {  
  filter: none;
}

/* Стили секции о нас */
.about-us {
  display: inline-block;
  width: 560px;
}

/* Стили секции Контакты */
.contacts {
  display: inline-block;
  width: 560px;
}

/* Стили футера */
footer {
  background-color: #464646;
  /* временно */
  color: aliceblue;
  padding-bottom: 50px;
  /* временно */
}

/* стили левой колонки */
.footer-left-side {
  display: inline-block;
  vertical-align: top;
}

.footer-logo path {
  fill: #ffc600;
}

/* стили средней колонки */
.footer-middle-side {
  display: inline-block;
  vertical-align: top;
}

.footer-feature-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
}


/* стили правой колонки */
.footer-right-side {
  display: inline-block;
  vertical-align: top;
}

.footer-menu-user {
  display: flex;
  flex-wrap: wrap;

  /* временно */
  width: 400px;
  /* временно */
}

.footer-user a {
  color: #ffffff;
}

.footer-phone a {
  color: #ffffff;
}

.html-academy-logo path {
  fill: #ffc600;
}



/* Стили CATALOG.HTML */
.page-shop-main {
  background-color: #ebebeb;
}

/* Стили фильтров */
.page-shop-filter {
  display: inline-block;
  vertical-align: top;

  /* временно */
  width: 250px;
  /* временно */
}

.sort-products-wrapper {
  display: inline-block;
  vertical-align: top;
  background-color: #ffffff;
}

.page-shop-sort {
  display: flex;
  flex-wrap: wrap;
  background-color: #ebebeb;
}

.list-sort {
  display: flex;
  flex-wrap: wrap;
}

.list-sort-order {
  display: flex;
  flex-wrap: wrap;
}

.page-shop-goods {}

.product-item {
  /* временно */
  width: 360px;
  /* временно */
}

.list-products {
  display: flex;
  flex-wrap: wrap;

  /* временно */
  width: 900px;
  /* временно */
}

.product-paginator-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #ebebeb;
}
